<p class="card-header bg-primary" style="color: white">
    {{ data.dialogTitle }}
</p>
<mat-dialog-content>
    <form [formGroup]="form" style="direction: rtl">
        <div class="form-group required">
            <label class="control-label" for="name">{{ 'Name' | translate }}</label>
            <input class="form-control" id="name" formControlName="name" />
            <div class="text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <small *ngIf="name.errors?.required">{{ 'Name_Is_Required' | translate }}</small
        >
        <small *ngIf="name.errors?.uniqueName"
          >{{ 'Duplicate_Name' | translate }}</small
        >
      </div>
    </div>
    <div class="form-group required" style="padding-top: 20px">
      <label class="control-label" for="amount"
        >{{ 'Amount' | translate }}</label
      >
      <input class="form-control" id="amount" formControlName="amount" />
      <div
        class="text-danger"
        *ngIf="amount.invalid && (amount.dirty || amount.touched)"
      >
        <small *ngIf="amount.errors?.required">مبلغ را وارد کنید</small>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row">
        <div class="col-xs-12">
            <button mat-raised-button color="warn" (click)="onClose()" md-dialog-close>
        {{ 'Close' | translate }}
      </button>
            <!-- Can optionally provide a result for the closing dialog. -->
            <button mat-raised-button [disabled]="!form.valid" (click)="onSave()" mat-button *ngIf="!( authService.isReadOnlyUser)" color="primary">
        {{ 'Save' | translate }}
      </button>
        </div>
    </div>
</mat-dialog-actions>