<!-- <mat-toolbar color="primary" class="app-actionbar">
    <!--<button mat-button class="action-btn" (click)="onCreate()">-->
        <!--<i class="fa fa-plus action-icon"></i>{{ 'Create' | translate }}-->
    <!--</button>-->
<!-- </mat-toolbar>

<div class="tree tree-view">
    <tree-root [nodes]="nodes"
    (focus)="onEvent($event,nodes)">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <span>{{ node.data.name }}</span>
        </ng-template>
    </tree-root>
</div> --> -->
